// Colors!

$blue:#3C7373;
$beige:#D9D2AD;
$yellow:#F2C46D;
$red_dark:#734440;
$red_light:#A65D56;

// Media Queries!

$lg: "screen and (min-width: 1200px)";
$md: "screen and (min-width: 992px)";
$sm: "screen and (min-width: 768px)";
$xs: "screen and (max-width: 767px)";
$xxs: "screen and (max-width: 414px)";